@import url('./assets/css/header.css');
@import url('./assets/css/home.css');
@import url('./assets/css/tipografia.css');

:root {
    /* Cores */
    --txt-primary-color: #ff7833;
    --txt-secondary-color: #e7e7e7;

    --bg-primary-color: #31333b;
    --bg-secondary-color: #444856;

    /* Fontes */
    --font-size-xs: 0.75rem;
    --font-size-s: 1rem;
    --font-size-m: 1.25rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.2rem;
    --font-size-xxxl: 3rem;
}

body {
    max-width: 100%;
    color: var(--txt-secondary-color);
    font-family: "Roboto", serif;
    
    @media screen and (width > 768px) {
        display: flex;
    }

    a {
        text-decoration: none;
    }
}

a {
    color: inherit;
}

h1 {
    padding: 5rem 0 0;
    text-align: center;
    font-size: 3.5rem;
    color: #a9a7a7;
}

h2, h3, h4, h5 {
    color: var(--txt-primary-color);
}

h2 {
    font-size: var(--font-size-xxxl);
}

h3 {
    font-size: var(--font-size-xxl);
}

h4 {
    font-size: var(--font-size-xl);
}

p {
    font-size: var(--font-size-l);
}

.section-main {
    display: none;
}

.section-main.active-section {
    display: block;
    padding: 3rem 2rem;
    line-height: 1.2;

    @media screen and (width > 1020px) {
        padding: 4rem 5rem;
    }
}
