body {
    height: 100vh;
    margin-bottom: 50rem;
}

section {
    border: 1px solid black;
    padding: 1rem;
    margin-bottom: 1rem;
}

section h2 {
    text-align: center;
}

article {
    outline: 4px solid green;
}

article a {
    color: red;
}

article a > b {
    color: green;
}

h3 + p {
    background-color: yellow;
}

h3 ~ p {
    border: 4px dashed orange;
}

.destaque {
    padding-left: 2rem;
}

article p:not(.destaque) {
    background-color: #aeadad;
}

/* ===== Seletores de Atributo ===== */

a[href="#"]:not(.link-ok) {
    opacity: .2;
}

a[href^="http"] {
    color: red;
}

a[href$=".pdf"] {
    color: green;
}

a[target] {
    text-decoration: none;
}

/* ===== Pseudo-classes Parentesco ===== */

.pseudoClasses div :first-child {
    color: red;
}

.pseudoClasses p:last-child {
    color: orange;
}

.pseudoClasses p:nth-child(2) {
    background-color: rgba(77, 142, 226, .8);
}

.pseudoClasses p:first-of-type {
    background-color: rgba(0, 128, 0, .8);
}

.pseudoClasses p:last-of-type {
    background-color: rgba(255, 0, 0, .8);
}

.pseudoClasses p:nth-of-type(3) {
    background-color: rgba(255, 165, 0, .8);
}

.pseudoClasses li:nth-child(odd) {
    background-color: rgba(216, 112, 147, .8);
}
.pseudoClasses li:nth-child(2n) {
    background-color: rgba(112, 216, 173, 0.8);
}

/* ===== After e Before ===== */

.afterBefore p::before {
    content: " ANTES ";
}

.afterBefore P::after {
    content: " DEPOIS";
}

.afterBefore__div {
    border: 2px solid red;
    padding: 1rem;
    position: relative;
}

.afterBefore__div p {
    margin: 0;
}

.afterBefore__div::after {
    content: "";
    width: 2rem;
    height: 2rem;
    background-color: blue;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}

.afterBefore__div::before {
    content: url('./img/imagem-aleatoria.png');
    width: 3rem;
    height: 3rem;
    display: inline-block;
}