main {
    background-color: var(--bg-secondary-color);
    width: 100vw;
    min-height: 100vh;
    line-height: 1;
    
    @media screen and (width > 768px) {
        flex: 0 0 calc(100vw - 18rem);
        margin-left: 18rem;
    }
    @media screen and (width > 1020px) {
        margin-left: 22rem;
    }

    .section-main {
        
        aside {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            /* h2 {
                font-size: var(--font-size-xl);
            } */
            h3 {
                font-size: 1.5rem;
                text-align: start;
            }
            p {
                font-size: 1.25rem;
            }
        }
        .title-address {
            font-size: 1.5rem;
            text-align: center;
            padding: 0 2rem;
    
            @media screen and (width > 768px) {
                text-align: left;
            }
        }
        address {
            padding: 2rem;
            p {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                @media screen and (width > 768px) {
                    justify-content: start;
                }
    
                a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.5rem;
                    gap: .5rem;
    
                    img {
                        width: 1.5rem;
                    }
                }
            }
        }
    }
}