* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0c1014;
    color: #fff;
    width: 90%;
    max-width: 960px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
}

.menu {
    background-color: #020303;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__logo {
    text-transform: uppercase;
    font-size: 30px;
    padding: 20px;
    letter-spacing: 1.5px;
}

.navbar {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.navbar__item {
    list-style-type: none;
}

.navbar__item a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
}

.navbar__item a:hover {
    background-color: #cbe300;
    color: #020303;
    border-radius: 5px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    padding: 40px;
}

.plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.plan {
    background-color: #1f262c;
    padding: 20px;
    width: 300px;
    height: 500px;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 5px 12px black;
}

.plan__title {
    letter-spacing: 1.5px;
    border-bottom: 2px solid #cbe300;
    padding-bottom: 8px;
    font-size: 20px;
}

.plan__price {
    padding: 10px 0 15px;
}

.plan__price span {
    font-size: 24px;
}

.plan__conditions {
    flex-grow: 1;
    margin-bottom: 30px;
}

.plan__conditions__item {
    list-style-position: inside;
    padding: 10px 0;
}

.plan__conditions__item::marker {
    color: #cbe300;
}

.plan__btn {
    text-decoration: none;
    background-color: #cbe300;
    text-align: center;
    padding: 12px;
    color: #0c1014;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.plan__btn:hover {
    outline: 2px solid #cbe300;
    background-color: transparent;
    color: aliceblue;
    border-radius: 5px;
}
